body {
    margin: 0;
  }
  
  /*
  .controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:10;
  }
  */

  #canvas {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
  }

  .controls {
    position: absolute;
    top: 5px;
    right: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px 5px;
    justify-items: end;
    z-index: 1;
  }